.readthedocs-diff-added {
  background-color: rgb(171, 242, 188);
  text-decoration: none;
}

.readthedocs-diff-modified {
  background-color: gold;
  text-decoration: none;
}

.readthedocs-diff-removed {
  background-color: rgba(255, 129, 130, 0.4);
  text-decoration: none;
}
